@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}

a{
    text-decoration: none;
    color: #333;
}

li{
    list-style: none;
}

img {
    vertical-align: top;
}

#wrap {
    width: 1920px;
    height: 5540px;
}
#header {
    width: 1920px;
    display: flex;
}

.logo  {
  width: 150.6px;
  height: 88px;
  padding: 24px 140px 23px;
  background-color: #fff;
}

.img1{
  width: 150.6px;
  height: 40px;
  margin: 0 125.4px 1px 0;
  object-fit: contain;
}

.nav-con {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 88px;
  padding: 0 60px;
  gap: 40px;
}

.Company,
.noonAI,
.IT-solution,
.Community {
  font-family: SpoqaHanSansNeo;
  font-size: 18px;
  font-weight: bold;
  color: #707070;
  text-align: center;
  cursor: pointer;
}

.hd {
  width: 160px;
  height: 40px;
  display: flex;
  border-radius: 20px;
  background-color: #595757;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 7.29%;
  cursor: pointer;
}

span {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin: auto auto;
}

#slider {
  width: 1920px;
  height: 646px;
  position: relative;
  overflow: hidden;
}

img.--3-1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: solid 1px #707070;
  display: block;
  object-fit: cover;
}

img.bd {
  position: absolute;
  top: 150px;     
  left: 150px;   
  width: 761px;
  height: 300px;
  object-fit: contain;
  z-index: 1;
  pointer-events: none;
  
}

#contents {
  width: 1920px;
  display: flex;
  margin: 0 auto;
}

.contents1 {
    width: 1308px;
    height: 1390px;
    /* margin: 0 auto 120px 18.75%; */
    margin: 0 auto 120px;
    position: relative;
    display: flex;
}

.textArea1 {
    position: absolute;
    top: 128px;
    left: 0;
}

.titleTop {
    display: flex;
}

.titleBottom {
    display: flex;
}

.textArea1 h1 {
    font-family: S-CoreDream-8Heavy;
    font-size: 58px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #14606e;
    margin: 0;
}

.textArea1 span {
    font-family: S-CoreDream-8Heavy;
    font-size: 59px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #00979c;
    margin: 0;
}

.company_main_content .textArea1 p {
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
    margin: 20px 0 0;
}

.company_main_content .textArea2 {
    position: absolute;
    top: 1087px;
    left: 60.39%;
}

.title {
    display: flex;
}

.company_main_content .textArea2 span {
    font-family: S-CoreDream-8Heavy;
    font-size: 58px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #14606e;
}

.company_main_content .textArea2 p {
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
    margin: 20px 0 0;
}

.company_main_content .textArea3 {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.title {
  display: flex;
}

.company_main_content .textArea3 h1 {
    font-family: S-CoreDream-8Heavy;
    font-size: 58px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #00979c;
    margin: 0;
}

.company_main_content .textArea3 span {
    font-family: S-CoreDream-8Heavy;
    font-size: 58px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #14606e;
    margin: 0;
}

.company_main_content .textArea3 p {
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
    margin: 20px 0 0;
}

.company_img_all1 {
      width: 100%;
    height: auto;
}

#footer {
    width: 1920px;
    height: 119px;
    margin: 1052px 0 0;
    padding: 30px 34px 19px 140px;
    background-color: #595757;
}

.footer1 {
  width: 150px;
  height: 39.4px;
  margin: 10px 566px 5.6px 0;
  object-fit: contain;
}

.footer2 {
  width: 208px;
  height: 15px;
  margin: 5.6px 511px 0 566px;
  font-family: SpoqaHanSansNeo;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: end;
  color: #fff;
}

.footer3 {
  width: 205px;
  height: 18px;
  margin: 14px 56px 14px 511px;
  font-family: SpoqaHanSansNeo;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: right;
  color: #fff;
}