@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-8Heavy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.main_content{
    overflow-x: hidden;
}

.companyPageImg {
    width: 100%;
    height: auto;
    position: relative;
}

.companyPageImg .logoImg {
    width: 100%;
    height: auto;
}

.companyPageImg .m_logoImg {
    width: 100%;
    height: auto;
    display: none;
}

.companyPageImg .logoText {
    width: 39.58%;
    height: auto;
    position: absolute;
    left: 15.73%;
    top: 27.4%;
}

.company_main_content {
    width: 1308px;
    height: 1390px;
    /* margin: 0 auto 120px 18.75%; */
    margin: 0 auto 120px;
    position: relative;
    display: flex;
}

.company_main_content .textArea1 {
    position: absolute;
    top: 128px;
    left: 0;
}

.company_main_content .textArea1 .titleTop {
    display: flex;
}

.company_main_content .textArea1 .titleBottom {
    display: flex;
}

.company_main_content .textArea1 h1 {
    font-family: S-CoreDream-8Heavy;
    font-size: 58px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #14606e;
    margin: 0;
}

.company_main_content .textArea1 span {
    font-family: S-CoreDream-8Heavy;
    font-size: 58px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #00979c;
    margin: 0;
}

.company_main_content .textArea1 p {
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
    margin: 20px 0 0;
}

.company_main_content .textArea1 p1,
.company_main_content .textArea1 p2 {
    display: none;
}

.company_main_content .company_img_all {
    display: none;
}

.company_main_content .textArea2 {
    position: absolute;
    top: 1087px;
    left: 60.39%;
}

.company_main_content .textArea2 .title {
    display: flex;
}

.company_main_content .textArea2 h1 {
    font-family: S-CoreDream-8Heavy;
    font-size: 58px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #00979c;
    margin: 0;
}

.company_main_content .textArea2 span {
    font-family: S-CoreDream-8Heavy;
    font-size: 58px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #14606e;
    margin: 0;
}

.company_main_content .textArea2 p {
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
    margin: 20px 0 0;
}

.company_main_content .textArea3 {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.company_main_content .textArea3 .title {
    display: flex;
}

.company_main_content .textArea3 h1 {
    font-family: S-CoreDream-8Heavy;
    font-size: 58px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #00979c;
    margin: 0;
}

.company_main_content .textArea3 span {
    font-family: S-CoreDream-8Heavy;
    font-size: 58px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #14606e;
    margin: 0;
}

.company_main_content .textArea3 p {
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
    margin: 20px 0 0;
}

.company_main_content .textArea4 {
    display: none;
}

.company_main_content .company_img1 {
    width: 754px;
    height: auto;
    position: absolute;
    top: 260px;
    right: 0px;
}

.company_main_content .company_img1 img {
    width: 100%;
    height: auto;
}

.company_main_content .company_img2 {
    width: 500px;
    height: auto;
    position: absolute;
    top: 500px;
    left: 0px;
}

.company_main_content .company_img2 img {
    width: 100%;
    height: auto;
}

.company_main_content .company_img3 {
    width: 344px;
    height: auto;
    position: absolute;
    top: 878px;
    left: 27.74%;
}

.company_main_content .company_img3 img {
    width: 100%;
    height: auto;
}

.coreDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.coreDiv .title {
    display: flex;
    margin: 0 auto 24px;
}

.coreDiv .title h1 {
    font-family: S-CoreDream-8Heavy;
    font-size: 58px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #14606e;
    margin: 0;
}

.coreDiv .title span {
    font-family: S-CoreDream-8Heavy;
    font-size: 58px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #00979c;
    margin: 0;
}

.coreDiv .circleArea {
    display: flex;
    margin: 0 auto 124px;
}

.coreDiv .circleArea .circleDiv {
    display: flex;
    flex-direction: column;
    margin-left: -40px;
}

.coreDiv .circleArea .circleDiv:nth-child(1) {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
}

.coreDiv .circleArea .circleDiv .imgDiv {
    position: relative;
    width: 330px;
    height: auto;
}

.coreDiv .circleArea .circleDiv .imgDiv img {
    width: 100%;
    height: auto;
}

.coreDiv .circleArea .circleDiv .imgDiv .textArea {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.coreDiv .circleArea .circleDiv .imgDiv .textArea p {
    font-family: S-CoreDream-8Heavy;
    font-size: 28px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.71;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin: 0 0 6px;
}

.coreDiv .circleArea .circleDiv .imgDiv .textArea h1 {
    font-family: S-CoreDream-8Heavy;
    font-size: 42px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.81;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin: 0;
}

.coreDiv .circleArea .circleDiv .textDiv {
    margin: 0;
    display: flex;
}

.coreDiv .circleArea .circleDiv .textDiv:nth-child(1) {
    margin: 0 0 0 auto;
    display: flex;
}

.coreDiv .circleArea .circleDiv .textDiv:nth-child(4) {
    margin: 0 auto 0 0;
    display: flex;
}

.coreDiv .circleArea .circleDiv .textDiv p {
    width: 290px;
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: normal;
    text-align: center;
    color: #707070;
    margin: 0 auto;
}

.coreDiv .circleArea .circleDiv .textDiv p1 {
    display: none;
}

.flowChart {
    width: 100%;
    display: flex;
    height: 808px;
}

.flowChart .flowContent {
    width: 1158px;
    height: 684px;
    margin: 0 auto 124px;
    position: relative;
}

.flowChart .flowContent .textArea {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 0px;
}

.flowChart .flowContent .textArea .title {
    display: flex;
    margin: 0 0 20px;
}

.flowChart .flowContent .textArea .title h1 {
    font-family: S-CoreDream-8Heavy;
    font-size: 58px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #00979c;
    margin: 0;
}

.flowChart .flowContent .textArea .title span {
    font-family: S-CoreDream-8Heavy;
    font-size: 58px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #14606e;
    margin: 0;
}

.flowChart .flowContent p {
    width: 580px;
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
    margin: 0 0 30px;
}

.flowChart .flowContent .companyBtn {
    width: 300px;
    height: 40px;
    border-radius: 20px;
    background-color: #00979c;
    display: flex;
    position: relative;
}

.flowChart .flowContent .companyBtn img {    
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 10px;
}


.flowChart .flowContent .companyBtn span {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin: auto;
}

.flowChart .flowContent img {
    width: 847px;
    height: auto;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.historyDiv {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.historyDiv .title {
    width: 1158px;
    height: auto;
    display: flex;
    margin: 0 auto 66px;
}

.historyDiv .title h1 {
    font-family: S-CoreDream-8Heavy;
    font-size: 58px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #00979c;
    margin: 0;
}

.historyDiv .title span {
    font-family: S-CoreDream-8Heavy;
    font-size: 58px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #14606e;
    margin: 0;
}

.historyDiv .historyContent {
    width: 100%;
    height: auto;
    display: flex;
    margin: 0 0 124px;
    background: url(../../imgs/common/blank_img.png);
    background-size: cover;
    background-position: 50% 100%;
    position: relative;
}

.historyDiv .historyContent .preblank {
    height: 100%;
    position: absolute;
    left: 0px;
    z-index: 10;
}

.historyDiv .historyContent .nextblank {
    height: 100%;
    position: absolute;
    right: 0px;
    z-index: 10;
}

.historyDiv .historyContent .preblank img {
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.historyDiv .historyContent .nextblank img {
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.historyDiv .historyContent .historyDetail {
    width: 100%;
    height: auto;
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
    margin: 0 auto 0;
    /* white-space: nowrap */
}

.historyDetail::-webkit-scrollbar  {
    width: 600px;
    height: 10px;
}

.historyDetail::-webkit-scrollbar-track {
    margin: 0 18.75% 0;
    background-color: transparent;
}

.historyDetail::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

.historyDiv .historyContent .historyDetail .blank {
    height: 100%;
    background-color: #fff;
    display: inline;
}

.historyDiv .historyContent .historyDetail .historyLine {
    width: 0;
    height: auto;
    border: solid 1px #00979c;
    position: relative;
    margin: 0 0 24px;
    z-index: 1;
}

.historyDiv .historyContent .historyDetail .historyLine .circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: -7.015px;
    top: -1px;
    background-color: #00979c;
    display: inline;
    z-index: 1;
}

.historyDiv .historyContent .historyDetail .content {
    min-width: 528px;
    height: auto;
    display: flex;
    flex-direction: column;
    border-top: solid 1px #707070;
    margin: 7.5px 0 24px;
    display: inline;
    padding: 20px 0 0 24px;
}

.historyDiv .historyContent .historyDetail .content h1 {
    font-family: S-CoreDream-8Heavy;
    font-size: 28px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #00979c;
    margin: 0 0 20px 14px;
}

.historyDiv .historyContent .historyDetail .content p {
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
    margin: 0 0 12px;
}

.historyDiv .historyContent .historyDetail .content p1 {
    display: none;
}

.locationDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #f9f9f9;
}

.locationDiv .title {
    width: auto;
    height: auto;
    margin: 75px auto 30px;
    display: flex;
    flex-direction: column;
}

.locationDiv .title h1 {
    font-family: S-CoreDream-8Heavy;
    font-size: 58px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #14606e;
    margin: 0 auto 5px;
}

.locationDiv .title h3 {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
    margin: 0 auto;
}

.locationDiv .mapDiv {
    width: 1200px;
    height: auto;
    display: flex;
    margin: 0 auto 87px;
}

.locationDiv .mapDiv .titleArea {
    display: flex;
    flex-direction: column;
}

.locationDiv .mapDiv .titleArea1 {
    display: none;
}

.locationDiv .mapDiv .company {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.locationDiv .mapDiv .company .homeLoc,
.locationDiv .mapDiv .company .labLoc,
.locationDiv .mapDiv .company .locLoad {
    width: 100%;
    height: auto;
    display: flex;
    margin: 0 auto 9px 0;
}

.locationDiv .mapDiv .company .locLoad {
    margin: 0 auto 0 0;
}

.locationDiv .mapDiv .company span {
    width: 90px;
    height: 30px;
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #333;
    margin: auto 50px auto 0;
}

.locationDiv .mapDiv .company p {
    height: 30px;
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #333;
    margin: auto 0;
}

.locationDiv .mapDiv .company #company_location {
    width: 100%;
    height: 480px;
    margin: 0 auto 38px;
    border: solid 1px #d4d4d4;
}

@media (max-width:1919px){

    .companyPageImg .logoImg {
        display: none;
    }
    
    .companyPageImg .m_logoImg {
        display: block;
    }

    .companyPageImg .logoText {
        width: 50%;
        height: auto;
        position: absolute;
        left: 15.73%;
        top: 20%;
    }
}


@media (max-width:1760px){
    .company_main_content {
        margin: 0 auto 120px;
    }
}

@media (max-width:1460px){
    .company_main_content {
        margin: 0 0 120px 7.29%;
    }
}

@media (max-width:1280px){
    .company_main_content {
        margin: 0 0 120px 60px;
    }
}

@media (max-width:1279px) {

    .company_main_content {
        width: auto;
        height: auto;
        margin: 0 3.75% 80px;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .company_main_content .textArea1,
    .company_main_content .textArea2,
    .company_main_content .textArea3 {
        position: relative;
        top: 0;
        left: 0;
    }

    
    .company_main_content .textArea1 {
        margin: 80px 0 0;
    }

    .company_main_content .textArea4 {
        width: 100%;
        display: flex;
        margin: 24px auto 0;
    }

    
    .company_main_content .textArea4 .title {
        display: flex;
    }

    .company_main_content .textArea4 .area1 {
        float: left;
        margin: 0 auto 0 0;
    }

    .company_main_content .textArea4 .area2 {
        float: left;
        margin: 0 0 0 auto;
    }

    .company_main_content .textArea1 h1,
    .company_main_content .textArea4 span {
        font-family: S-CoreDream-8Heavy;
        font-size: 58px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        letter-spacing: normal;
        text-align: left;
        color: #14606e;
        margin: 0;
    }
    
    .company_main_content .textArea1 span,
    .company_main_content .textArea4 h1 {
        font-family: S-CoreDream-8Heavy;
        font-size: 58px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        letter-spacing: normal;
        text-align: left;
        color: #00979c;
        margin: 0;
    }
    
    .company_main_content .textArea1 p,
    .company_main_content .textArea4 p1 {
        display: none;
    }
    
    .company_main_content .textArea2,
    .company_main_content .textArea3 {
        display: none;
    }

    .company_main_content .textArea1 p1,
    .company_main_content .textArea4 p {
        display: block;
        font-family: SpoqaHanSansNeo-Regular;
        font-size: 24px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.58;
        letter-spacing: normal;
        text-align: left;
        color: #707070;
        margin: 8px 0 0;
    }

    .company_main_content .company_img_all {
        display: block;
        width: 100%;
    }

    .company_main_content .company_img_all img {
        width: 100%;
        height: auto;
    }

    .company_main_content .company_img1,
    .company_main_content .company_img2,
    .company_main_content .company_img3 {
        display: none;
    }

    .coreDiv .title {
        display: flex;
        margin: 0 0 24px 3.75%;
    }

    .coreDiv .circleArea {
        display: flex;
        flex-direction: column;
        margin: 0 3.75% 80px;
    }

    .coreDiv .circleArea .circleDiv:nth-child(1) {
        display: flex;
        flex-direction: row;
        margin-left: 0px;
        margin-right: auto;
        margin-top: 0px;
    }

    .coreDiv .circleArea .circleDiv:nth-child(2) {
        display: flex;
        flex-direction: row-reverse;
        margin-left: auto;
        margin-right: 0px;
        margin-top: -40px;
    }

    .coreDiv .circleArea .circleDiv:nth-child(3) {
        display: flex;
        flex-direction: row;
        margin-left: 0px;
        margin-right: auto;
        margin-top: -40px;
    }

    .coreDiv .circleArea .circleDiv:nth-child(4) {
        display: flex;
        flex-direction: row-reverse;
        margin-left: auto;
        margin-right: 0px;
        margin-top: -40px;
    }

    .coreDiv .circleArea .circleDiv {
        display: flex;
        flex-direction: row;
        margin-left: 0px;
        margin-top: -40px;
    }

    .coreDiv .circleArea .circleDiv .textDiv {
        width: 50%;
        margin: 0;
        display: flex;
    }

    .coreDiv .circleArea .circleDiv:nth-child(1) .textDiv p,
    .coreDiv .circleArea .circleDiv:nth-child(3) .textDiv p,
    .coreDiv .circleArea .circleDiv:nth-child(1) .textDiv p1,
    .coreDiv .circleArea .circleDiv:nth-child(3) .textDiv p1 {
        text-align: left;
    }

    .coreDiv .circleArea .circleDiv:nth-child(2) .textDiv p,
    .coreDiv .circleArea .circleDiv:nth-child(4) .textDiv p,
    .coreDiv .circleArea .circleDiv:nth-child(2) .textDiv p1,
    .coreDiv .circleArea .circleDiv:nth-child(4) .textDiv p1 {
        text-align: right;
        margin: auto 24px auto 0;
    }

    .coreDiv .circleArea .circleDiv .textDiv p {
        font-family: SpoqaHanSansNeo-Regular;
        font-size: 24px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.58;
        letter-spacing: normal;
        text-align: center;
        color: #707070;
        margin: auto 0 auto 24px;
    }

    .flowChart {
        width: auto;
        display: flex;
        height: auto;
    }

    .flowChart .flowContent {
        width: 100%;
        height: auto;
        margin: 0 3.75% 80px;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .flowChart .flowContent .textArea {
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 0 0 12px;
    }

    .flowChart .flowContent .textArea .title h1 {
        font-family: S-CoreDream-8Heavy;
        font-size: 48px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        letter-spacing: normal;
        text-align: left;
        color: #00979c;
        margin: 0;
    }

    .flowChart .flowContent .textArea .title {
        display: flex;
        margin: 0;
    }

    .flowChart .flowContent .textArea .title span {
        font-family: S-CoreDream-8Heavy;
        font-size: 48px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        letter-spacing: normal;
        text-align: left;
        color: #14606e;
        margin: 0;
    }

    .flowChart .flowContent p {
        width: 440px;
        font-family: SpoqaHanSansNeo-Regular;
        font-size: 24px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.58;
        letter-spacing: normal;
        text-align: left;
        color: #707070;
        margin: 8px 0;
    }

    .flowChart .flowContent img {
        width: 100%;
        height: auto;
        margin: 0 auto;
        position: relative;
        bottom: 0px;
        right: 0px;
    }

    .historyDiv .title {
        width: auto;
        height: auto;
        display: flex;
        margin: 0 3.75% 24px;
    }

    .historyDiv .title h1 {
        font-family: S-CoreDream-8Heavy;
        font-size: 48px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        letter-spacing: normal;
        text-align: left;
        color: #00979c;
        margin: 0;
    }

    .historyDiv .title span {
        font-family: S-CoreDream-8Heavy;
        font-size: 48px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        letter-spacing: normal;
        text-align: left;
        color: #14606e;
        margin: 0;
    }

    .historyDiv .historyContent {
        width: 100%;
        height: auto;
        display: flex;
        margin: 0 0 80px;
        background: url(../../imgs/common/blank_img.png);
        background-size: cover;
        background-position: 50% 100%;
        position: relative;
    }

    .locationDiv {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .locationDiv .title {
        width: auto;
        height: auto;
        margin: 80px auto 0;
    }

    .locationDiv .mapDiv {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        margin: 0 3.75% 80px;
    }

    .locationDiv .mapDiv .company {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .locationDiv .mapDiv .lab {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin: 0;
    }
}

@media (max-width:999px){
    .company_main_content {
        width: auto;
        height: auto;
        margin: 0 0 24px;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .company_main_content .textArea1 {
        margin: 24px 7.5% 24px;
    }

    .company_main_content .textArea1 p1, 
    .company_main_content .textArea4 p {
        display: block;
        font-family: SpoqaHanSansNeo-Regular;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
        text-align: left;
        color: #707070;
        margin: 8px 0 0;
    }

    .company_main_content .textArea1 h1, 
    .company_main_content .textArea4 span {
        font-family: S-CoreDream-8Heavy;
        font-size: 28px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        letter-spacing: normal;
        text-align: left;
        color: #14606e;
        margin: 0;
    }

    .company_main_content .textArea1 span, 
    .company_main_content .textArea4 h1 {
        font-family: S-CoreDream-8Heavy;
        font-size: 28px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        letter-spacing: normal;
        text-align: left;
        color: #00979c;
        margin: 0;
    }

    .company_main_content .textArea1 p {
        font-family: SpoqaHanSansNeo-Regular;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.58;
        letter-spacing: normal;
        text-align: left;
        color: #707070;
        margin: 20px 0 0;
    }

    .company_main_content .textArea4 {
        width: 85%;
        display: flex;
        margin: 24px auto 0;
    }

    .coreDiv .title h1 {
        font-family: S-CoreDream-8Heavy;
        font-size: 28px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        letter-spacing: normal;
        text-align: left;
        color: #14606e;
        margin: 0;
    }

    .coreDiv .title {
        display: flex;
        margin: 0 0 12px 7.5%;
    }

    .coreDiv .title span {
        font-family: S-CoreDream-8Heavy;
        font-size: 28px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        letter-spacing: normal;
        text-align: left;
        color: #00979c;
        margin: 0;
    }

    .coreDiv .circleArea {
        display: flex;
        flex-direction: column;
        margin: 0 3.25% 48px;
    }

    .coreDiv .circleArea .circleDiv {
        width: 100%;
    }

    .coreDiv .circleArea .circleDiv .imgDiv .textArea p {
        font-family: S-CoreDream-8Heavy;
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.56;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
        margin: 0 0 4px;
    }

    .coreDiv .circleArea .circleDiv .imgDiv .textArea h1 {
        font-family: S-CoreDream-8Heavy;
        font-size: 24px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.79;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
        margin: 0;
    }

    .coreDiv .circleArea .circleDiv .imgDiv {
        position: relative;
        min-width: 148px;
        min-height: 148px;
    }

    .coreDiv .circleArea .circleDiv .textDiv {
        width: auto;
        margin: 0;
        display: flex;
    }

    .coreDiv .circleArea .circleDiv .textDiv p {
        display: none;
    }

    .coreDiv .circleArea .circleDiv .textDiv p1 {
        display: block;
        width: 120px;
        font-family: SpoqaHanSansNeo-Regular;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
        text-align: center;
        color: #707070;
        margin: auto 0 auto 12px;
    }
    
    .coreDiv .circleArea .circleDiv:nth-child(2) .textDiv p1,
    .coreDiv .circleArea .circleDiv:nth-child(4) .textDiv p1 {
        margin: auto 12px auto 0;
    }

    .flowChart .flowContent {
        width: 100%;
        height: auto;
        margin: 0 7.5% 48px;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .flowChart .flowContent .textArea .title h1 {
        font-family: S-CoreDream-8Heavy;
        font-size: 28px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.36;
        letter-spacing: normal;
        text-align: left;
        color: #00979c;
        margin: 0;
    }
    
    .flowChart .flowContent .textArea .title span {
        font-family: S-CoreDream-8Heavy;
        font-size: 28px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.36;
        letter-spacing: normal;
        text-align: left;
        color: #14606e;
        margin: 0;
    }

    .flowChart .flowContent .textArea {
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 0 0 24px;
    }

    .flowChart .flowContent p {
        font-family: SpoqaHanSansNeo-Regular;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.58;
        letter-spacing: normal;
        text-align: left;
        color: #707070;
        margin: 8px 0 24px;
    }

    .flowChart .flowContent .companyBtn {
        width: 272px;
        height: 30px;
        border-radius: 20px;
        background-color: #00979c;
        display: flex;
        position: relative;
    }
    
    .flowChart .flowContent .companyBtn span {
        font-family: SpoqaHanSansNeo-Bold;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
        margin: auto;
    }

    .flowChart .flowContent .companyBtn img {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 3px;
        right: 10px;
    }
    

    .historyDiv .title {
        width: auto;
        height: auto;
        display: flex;
        margin: 0 7.5% 14px;
    }

    .historyDiv .title h1 {
        font-family: S-CoreDream-8Heavy;
        font-size: 28px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.36;
        letter-spacing: normal;
        text-align: left;
        color: #00979c;
        margin: 0;
    }

    .historyDiv .title span {
        font-family: S-CoreDream-8Heavy;
        font-size: 28px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.36;
        letter-spacing: normal;
        text-align: left;
        color: #14606e;
        margin: 0;
    }

    .historyDiv .historyContent {
        width: 100%;
        height: auto;
        display: flex;
        margin: 0 0 48px;
        background: url(../../imgs/common/blank_img.png);
        background-size: cover;
        background-position: 50% 100%;
        position: relative;
    }

    .historyDiv .historyContent .historyDetail .historyLine {
        width: 0;
        height: auto;
        border: solid 1px #00979c;
        position: relative;
        margin: 0 0 8px;
        z-index: 1;
    }

    .historyDiv .historyContent .historyDetail .content {
        min-width: 284px;
        height: auto;
        display: flex;
        flex-direction: column;
        border-top: solid 1px #707070;
        margin: 7.5px 0 24px;
        display: inline;
        padding: 12px 0 0 12px;
    }

    .historyDiv .historyContent .historyDetail .content h1 {
        font-family: S-CoreDream-8Heavy;
        font-size: 28px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.36;
        letter-spacing: normal;
        text-align: left;
        color: #00979c;
        margin: 0 0 8px;
    }

    .historyDiv .historyContent .historyDetail .content p {
        width: 262px;
        font-family: SpoqaHanSansNeo-Regular;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: normal;
        text-align: left;
        color: #707070;
        margin: 0 0 6px;
        display: none;
    }

    .historyDiv .historyContent .historyDetail .content p1 {
        width: 262px;
        font-family: SpoqaHanSansNeo-Regular;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: normal;
        text-align: left;
        color: #707070;
        margin: 0 0 6px;
        display: block;
    }

    .locationDiv .title {
        width: auto;
        height: auto;
        margin: 32px auto 15px;
    }

    .locationDiv .title h1 {
        font-family: S-CoreDream-8Heavy;
        font-size: 28px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.36;
        letter-spacing: normal;
        text-align: left;
        color: #14606e;
        margin: 0 auto 4px;
    }

    .locationDiv .title h3 {
        font-family: SpoqaHanSansNeo-Medium;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #707070;
        margin: 0 auto;
    }

    .locationDiv .mapDiv {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        margin: 0 7.5% 32px;
    }

    .locationDiv .mapDiv .company {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .locationDiv .mapDiv .company #company_location {
        width: 100%;
        height: 191px;
        margin: 0 auto 11px;
    }

    .locationDiv .mapDiv .company .homeLoc, 
    .locationDiv .mapDiv .company .labLoc, 
    .locationDiv .mapDiv .company .locLoad {
        margin: 0 auto 10px 0;
    }
    
    .locationDiv .mapDiv .company .locLoad {
        margin: 0 auto 0 0;
    }

    .locationDiv .mapDiv .company span {
        width: 52px;
        font-family: SpoqaHanSansNeo-Bold;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.14;
        letter-spacing: normal;
        text-align: left;
        color: #333;
        margin: auto 8px auto 0;
    }

    .locationDiv .mapDiv .company p {
        width: calc(100% - 60px);
        font-family: SpoqaHanSansNeo-Regular;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.14;
        letter-spacing: normal;
        text-align: left;
        color: #333;
        margin: auto 0;
    }
}

@media (max-width:850px){

    .company_main_content .textArea4 {
        width: 85%;
        display: flex;
        flex-direction: column;
        margin: 24px auto 0;
    }

    .company_main_content .textArea4 .area2 {
        float: left;
        margin: 24px 0 0;
    }
    
}

@media (max-width:700px){
    .flowChart .flowContent .companyBtn {
        width: auto;
        height: 30px;
        border-radius: 20px;
        background-color: #00979c;
        display: flex;
        position: relative;
    }
}

@media (max-width:550px){

    .company_main_content .textArea4 {
        width: 85%;
        display: flex;
        flex-direction: column;
        margin: 24px auto 0;
    }

    .company_main_content .textArea4 .area2 {
        float: left;
        margin: 24px 0 0;
    }

    .company_main_content .textArea1 p1 {
        display: none;
    }

    .company_main_content .textArea1 p2 {
        display: block;
        width: auto;
        font-family: SpoqaHanSansNeo-Regular;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
        text-align: left;
        color: #707070;
        margin: 8px 0 0;
    }

    
    .company_main_content .textArea4 p {
        display: none;
    }

    .company_main_content .textArea4 p1 {
        display: block;
        font-family: SpoqaHanSansNeo-Regular;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
        text-align: left;
        color: #707070;
        margin: 8px 0 0;
    }

    .coreDiv .circleArea .circleDiv .textDiv p1 {
        margin: auto 0 auto 8px;
    }

    
    .coreDiv .circleArea .circleDiv:nth-child(2) .textDiv p1,
    .coreDiv .circleArea .circleDiv:nth-child(4) .textDiv p1 {
        margin: auto 8px auto 0;
    }
    
    .flowChart .flowContent p {
        width: auto;
    }
}